# Fish
fishd.*
fish_history
fish/credentials.fish

# Tmux
tmux/tmuxinator/*.yml

# Scripts
setup_scripts/pkg_install.log*

# General
TODO

# VIM
vim/.backups
vim/.swaps
vim/.undo
vim/viminfo
vim/plugged
