# Fish
fishd.*
fish_history
fish/private.fish
fish/functions/fisher.fish
fish/fish_variables

# Tmux
tmux/tmuxinator/*.yml

# Scripts
setup_scripts/pkg_install.log*

# VIM
vim/.backups
vim/.swaps
vim/.undo
vim/.netrwhist
vim/viminfo
vim/plugged
vim/autoload/plug.vim.old
vim/sessions

# QMK
keyboard/qmk_keymaps/dist/
*.hex

# Private stuff
redshift/redshift.conf
git/gitconfig_riot

# General
TODO
.DS_Store
__pycache__/
*.pyc
.mypy_cache/

