# Mod1 = Alt
# Mod4 = Super
set $mod Ctrl+Mod4+Mod1
set $hyper Ctrl+Shift+Mod1+Mod4

font pango:Ubuntu Mono 12

# Disable borders and title bars
default_border none

focus_follows_mouse no

# Startup applications
exec --no-startup-id ulauncher --hide-window --no-window-shadow
# exec --no-startup-id kitty -d ~/Development
# exec --no-startup-id google-chrome-stable

# App switching - xprop for window info
# bindsym $hyper+at exec --no-startup-id [ "$(i3-msg '[class=Google Play Music Desktop Player] focus')" = '[{"success":true}]' ] || i3-msg exec "gpmdp"
# bindsym $hyper+exclam exec --no-startup-id gpmdp
bindsym $hyper+at exec --no-startup-id [ "$(i3-msg '[class=Google-chrome] focus')" = '[{"success":true}]' ] || i3-msg exec --no-startup-id "google-chrome-stable"
bindsym $hyper+dollar exec --no-startup-id [ "$(i3-msg '[class=kitty] focus')" = '[{"success":true}]' ] || i3-msg exec "kitty -d ~/Development"
bindsym $hyper+numbersign [class="Gvim"] focus

# Kill focused window
bindsym Ctrl+q kill

# We don't use this, but there is a bug with i3 where
# if you don't include it, configuration fails to load
bindsym $mod+Left focus left

# Move focused window
bindsym $mod+j move left
bindsym $mod+l move right
bindsym $mod+k move down
bindsym $mod+h move up

# Enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# resize window (you can also use the mouse for that)
mode "resize" {
  bindsym j resize shrink width 10 px or 10 ppt
  bindsym l resize grow width 10 px or 10 ppt
  bindsym k resize grow height 10 px or 10 ppt
  bindsym h resize shrink height 10 px or 10 ppt

  # back to normal: Enter or Escape or $mod+r
  bindsym Return mode "default"
  bindsym Escape mode "default"
  bindsym $mod+r mode "default"
}

bindsym $mod+r mode "resize"

bar {
  mode invisible
  workspace_buttons no
}
