# Mod1 = Alt
# Mod4 = Super
set $mod Ctrl+Mod4+Mod1
set $hyper Ctrl+Shift+Mod1+Mod4

font pango:Ubuntu Mono 12

# Disable borders and title bars
default_border none

focus_follows_mouse no

exec kitty
exec qutebrowser

# for_window [class="WM.exe"] floating enable
# for_window [class="RUST_SKIA_GLFW"] floating enable
# for_window [class="Xephyr"] floating enable move left 305px, move top 0px
# no_focus [class="Xephyr"]
# for_window [class="OpenGL Fun!"] floating enable move left 0px, move top 500px
# no_focus [class="OpenGL Fun!"]

# App switching - xprop for window info
bindsym F2 [class=qutebrowser] focus; [class=qutebrowser] swap container with mark middle; mark middle
bindsym F3 [class=glrnvim] swap container with mark middle; [class=glrnvim] focus; mark middle
bindsym F4 [class=kitty] swap container with mark middle; [class=kitty] focus; mark middle
bindsym F5 [class=discord] focus

bindsym Ctrl+space exec "rofi -show drun"

# Workspaces
assign [class="obs"] 2
assign [class="discord"] 2
bindsym Ctrl+F10 workspace 1
bindsym Ctrl+F11 workspace 2

# Kill focused window
bindsym Ctrl+q kill

# We don't use this, but there is a bug with i3 where
# if you don't include it, configuration fails to load
# bindsym $mod+y focus left
bindsym $mod+c focus left
bindsym $mod+d focus right

# Move focused window
bindsym $mod+j move left
bindsym $mod+Left move left
bindsym $mod+l move right
bindsym $mod+Right move right
bindsym $mod+k move down
bindsym $mod+Down move down
bindsym $mod+h move up
bindsym $mod+Up move up

# Enter fullscreen mode for the focused container
bindsym $mod+f fullscreen toggle

# resize window (you can also use the mouse for that)
mode "resize" {
  bindsym j resize shrink width 10 px or 10 ppt
  bindsym Left resize shrink width 10 px or 10 ppt

  bindsym l resize grow width 10 px or 10 ppt
  bindsym Right resize grow width 10 px or 10 ppt

  bindsym k resize grow height 10 px or 10 ppt
  bindsym Up resize grow height 10 px or 10 ppt

  bindsym h resize shrink height 10 px or 10 ppt
  bindsym Down resize shrink height 10 px or 10 ppt

  # back to normal: Enter or Escape or $mod+r
  bindsym Return mode "default"
  bindsym Escape mode "default"
  bindsym $mod+r mode "default"
}

bindsym $mod+r mode "resize"

bar {
  mode invisible
  workspace_buttons no
}
