extends javascript

snippet ir "import React" b
import React from 'react'
endsnippet

snippet rc "React Component" b
import React from 'react'

export const `!p snip.rv = snip.basename` = ($1) => $2
endsnippet

snippet ss "Storybook Story" b
import React from 'react'
import { storiesOf } from '@storybook/react'

storiesOf('$1', module).add('$2', () => ${3:{
	$4
}})
endsnippet

snippet sc "styled component" b
const $1 = styled${2:($3)}\`
	$4
\`
endsnippet

