snippet le "let binding"
let $1 = ${2:($3) => ${4:{
	$5
}}}
endsnippet

snippet l "Log.debug"
Log.debug("$1");
endsnippet

snippet lf "Log.debugf"
Log.debugf(m => m("$1", $2));
endsnippet

snippet s "switch"
switch ($1) {
| $2
};
endsnippet


