/* Completely removes Tabs because who need that? */
.title.show-file-icons {
  opacity: 0;
  height: 8px;
}

.monaco-editor .scroll-decoration {
  box-shadow: none;
}

/* Hide useless stuff in the status bar */
.editor-status-indentation,
.editor-status-encoding,
.editor-status-eol,
.editor-status-mode {
  display: none !important;
}

/* Smooth animation to in .monaco-tree */
.monaco-tree .monaco-tree-rows > .monaco-tree-row {
  transition: background-color 0.3s ease;
}

/* File Navigation - Quick Open Widget */
.monaco-quick-open-widget {
  top: 15% !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: rgb(29, 29, 33) 0 2px 14px 3px !important;
}

.monaco-quick-open-widget .quick-open-tree {
  min-height: 210px !important;
}

.monaco-quick-open-widget .monaco-tree .monaco-tree-rows > .monaco-tree-row {
  height: 37px !important;
  font-size: 18px;
}

.monaco-quick-open-widget .monaco-tree .monaco-tree-row > .content.actions {
  align-items: center;
}

.monaco-quick-open-widget .quick-open-input .monaco-inputbox {
  height: 36px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.monaco-quick-open-widget .quick-open-input {
  font-size: 15px;
}

.monaco-quick-open-widget .monaco-inputbox > .wrapper > .input {
  padding-left: 8px;
}
