"*":
  core:
    autoHideMenuBar: true
    closeDeletedFileTabs: true
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "welcome"
      "wrap-guide"
    ]
    telemetryConsent: "no"
    themes: [
      "pristine-ui"
      "one-dark-syntax"
    ]
  editor:
    fontFamily: "Ubuntu Mono"
    fontSize: 18
    showIndentGuide: true
  "go-plus":
    autocomplete:
      snippetMode: "nameAndType"
    format:
      tool: "goreturns"
    navigator:
      mode: "guru"
    panel:
      currentHeight: "25.601983002832863vh"
      displayMode: "closed"
      focusOnFailure: false
    test:
      coverageDisplayMode: "gutter"
  jumpy:
    matchPattern: "([A-Za-z0-9.$*_\\-\\/]+)|[a-z0-9]{2,}"
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
  "linter-ui-default":
    panelHeight: 89
    tooltipFollows: "Keyboard"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  tabs:
    alwaysShowTabBar: false
    enableVcsColoring: true
  "tree-view":
    squashDirectoryNames: true
  whitespace:
    ensureSingleTrailingNewline: false
