'atom-workspace':
  'ctrl-shift-A': 'application:add-project-folder'

  # Used for debugging attachment
  'shift-cmd-A': 'unset!'

'atom-workspace atom-text-editor:not([mini])':
  'alt-cmd-[': 'editor:toggle-current-row-folding'
  'alt-cmd-{': 'editor:fold-all-except-current'

'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab ^ctrl': 'unset!'

  # Avoid accidentaly changing font size
  'ctrl-+': 'unset!'
  'ctrl--': 'unset!'

# Linux
'.platform-linux atom-workspace atom-text-editor':
  # Line movement
  'shift-cmd-up': 'editor:move-line-up'
  'shift-cmd-down': 'editor:move-line-down'

  # Line navigation
  'ctrl-up': 'core:move-to-top'
  'ctrl-down': 'core:move-to-bottom'

  'ctrl-shift-up': 'core:select-to-top'
  'ctrl-shift-down': 'core:select-to-bottom'

  'ctrl-right': 'editor:move-to-end-of-screen-line'
  'ctrl-shift-right': 'editor:select-to-end-of-line'

  'ctrl-left': 'editor:move-to-first-character-of-line'
  'ctrl-shift-left': 'editor:select-to-first-character-of-line'

  # Word Navigation
  'alt-right': 'editor:move-to-end-of-word'
  'alt-shift-right': 'editor:select-to-end-of-word'

  'alt-left': 'editor:move-to-beginning-of-word'
  'alt-shift-left': 'editor:select-to-beginning-of-word'

  'alt-backspace': 'editor:delete-to-beginning-of-word'
  'alt-delete': 'editor:delete-to-end-of-word'

  # Subword Navigation
  'cmd-right': 'editor:move-to-next-subword-boundary'
  'cmd-shift-right': 'editor:select-to-next-subword-boundary'

  'cmd-left': 'editor:move-to-previous-subword-boundary'
  'cmd-shift-left': 'editor:select-to-previous-subword-boundary'

  'cmd-backspace': 'editor:delete-to-beginning-of-subword'
  'cmd-delete': 'editor:delete-to-end-of-subword'

  # Bracket Matcher
  'ctrl-m': 'bracket-matcher:select-inside-brackets'

# MacOS
'.platform-darwin':
  'cmd-p': 'unset!'

'.platform-darwin atom-text-editor':
  # Subword Navigation
  'ctrl-right': 'editor:move-to-next-subword-boundary'
  'ctrl-shift-right': 'editor:select-to-next-subword-boundary'

  'ctrl-left': 'editor:move-to-previous-subword-boundary'
  'ctrl-shift-left': 'editor:select-to-previous-subword-boundary'

  'ctrl-backspace': 'editor:delete-to-beginning-of-subword'
  'ctrl-delete': 'editor:delete-to-end-of-subword'

  # Bracket Matcher
  'cmd-m': 'bracket-matcher:select-inside-brackets'

  # Used to select to beginning of line, we use other keybind for that and this one
  # is conflicting with add project folder
  'ctrl-shift-A': 'unset!'
