'atom-workspace':
  'ctrl-shift-A': 'application:add-project-folder'

'atom-workspace atom-text-editor:not([mini])':
  'ctrl-shift-m': 'expand-selection-to-quotes:toggle'

'atom-text-editor':
  'ctrl-b': 'datatip:toggle'

'body':
  'ctrl-tab': 'pane:show-next-item'
  'ctrl-shift-tab': 'pane:show-previous-item'
  'ctrl-tab ^ctrl': 'unset!'
  'ctrl-shift-tab ^ctrl': 'unset!'

  'ctrl-+': 'unset!'
  'ctrl--': 'unset!'

# 'body atom-text-editor.autocomplete-active':
#   # Use tab to navigate through autocomplete suggestions
#   'shift-tab': 'autocomplete-plus:move-up'
#   'tab': 'autocomplete-plus:move-down'

# Linux
'.platform-linux atom-workspace atom-text-editor':
  # Line navigation
  'ctrl-right': 'editor:move-to-end-of-screen-line'
  'ctrl-shift-right': 'editor:select-to-end-of-line'

  'ctrl-left': 'editor:move-to-first-character-of-line'
  'ctrl-shift-left': 'editor:select-to-first-character-of-line'

  # Word Navigation
  'alt-right': 'editor:move-to-end-of-word'
  'alt-shift-right': 'editor:select-to-end-of-word'

  'alt-left': 'editor:move-to-beginning-of-word'
  'alt-shift-left': 'editor:select-to-beginning-of-word'

  'alt-backspace': 'editor:delete-to-beginning-of-word'
  'alt-delete': 'editor:delete-to-end-of-word'

  # Subword Navigation
  'cmd-right': 'editor:move-to-next-subword-boundary'
  'cmd-shift-right': 'editor:select-to-next-subword-boundary'

  'cmd-left': 'editor:move-to-previous-subword-boundary'
  'cmd-shift-left': 'editor:select-to-previous-subword-boundary'

  'cmd-backspace': 'editor:delete-to-beginning-of-subword'
  'cmd-delete': 'editor:delete-to-end-of-subword'

  # Bracket Matcher
  'ctrl-m': 'bracket-matcher:select-inside-brackets'
  'ctrl-alt-,': 'bracket-matcher:go-to-matching-bracket'

# MacOS
'.platform-darwin atom-text-editor':
  # Subword Navigation
  'ctrl-right': 'editor:move-to-next-subword-boundary'
  'ctrl-shift-right': 'editor:select-to-next-subword-boundary'

  'ctrl-left': 'editor:move-to-previous-subword-boundary'
  'ctrl-shift-left': 'editor:select-to-previous-subword-boundary'

  'ctrl-backspace': 'editor:delete-to-beginning-of-subword'
  'ctrl-delete': 'editor:delete-to-end-of-subword'

  # Bracket Matcher
  'cmd-m': 'bracket-matcher:select-inside-brackets'
