packages: [
  "advanced-open-file"
  "atom-beautify"
  "atom-django"
  "atom-handlebars"
  "atom-qunit-snippets"
  "busy-signal"
  "color-picker"
  "dash"
  "editorconfig"
  "ember-snippets"
  "emmet"
  "file-icons"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "highlight-selected"
  "hyperclick"
  "intentions"
  "jumpy"
  "language-babel"
  "language-docker"
  "language-fish-shell"
  "language-ini"
  "language-nginx"
  "language-systemd"
  "language-terraform"
  "language-viml"
  "linter"
  "linter-coffeelint"
  "linter-ember-template"
  "linter-eslint"
  "linter-flake8"
  "linter-jshint"
  "linter-shellcheck"
  "linter-stylelint"
  "linter-ui-default"
  "merge-conflicts"
  "package-sync"
  "pigments"
  "prettier-atom"
  "pristine-ui"
  "toggle-quotes"
]
