packages: [
  "advanced-open-file"
  "atom-django"
  "atom-qunit-snippets"
  "busy-signal"
  "color-picker"
  "dash"
  "editorconfig"
  "file-icons"
  "go-plus"
  "highlight-selected"
  "intentions"
  "language-docker"
  "language-fish-shell"
  "language-ini"
  "language-nginx"
  "language-systemd"
  "language-terraform"
  "linter"
  "linter-shellcheck"
  "linter-ui-default"
  "merge-conflicts"
  "package-sync"
  "pigments"
  "toggle-quotes"
]
