packages: [
  "advanced-open-file"
  "atom-alignment"
  "atom-django"
  "atom-handlebars"
  "atom-ide-debugger-python"
  "atom-ide-ui"
  "atom-import-cost"
  "atom-jest-snippets"
  "atom-json-color"
  "atom-qunit-snippets"
  "autocomplete-modules"
  "bracket-padder"
  "busy-signal"
  "color-picker"
  "dash"
  "double-tag"
  "editorconfig"
  "emmet"
  "expand-selection-to-quotes"
  "file-icons"
  "find-scroll-marker"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "highlight-selected"
  "hyperclick"
  "ide-bash"
  "ide-css"
  "ide-flowtype"
  "ide-json"
  "ide-python"
  "ide-typescript"
  "indent-guide-improved"
  "intentions"
  "jumpy"
  "language-babel"
  "language-docker"
  "language-fish-shell"
  "language-graphql"
  "language-i3wm"
  "language-ini"
  "language-nginx"
  "language-systemd"
  "language-terraform"
  "language-viml"
  "lint-scroll-marker"
  "linter"
  "linter-coffeelint"
  "linter-eslint"
  "linter-flake8"
  "linter-shellcheck"
  "linter-stylelint"
  "linter-tslint"
  "linter-ui-default"
  "package-sync"
  "pigments"
  "prettier-atom"
  "pristine-ui"
  "rainbow-delimiters"
  "scroll-marker"
  "toggle-quotes"
  "yaod-syntax"
]
