'.source.go':
  'Log':
    prefix: 'log'
    body: 'log.Println("$1")'

  'Type':
    prefix: 'tp'
    body: """
      type $1 ${2:struct} {
        $3
      }
    """

'.source.python':
  'Print':
    prefix: 'log'
    body: 'print(${1:"$2"})'
