'.source.go':
  'Log':
    prefix: 'log'
    body: 'log.Println("$1")'

  'Type':
    prefix: 'tp'
    body: """
      type $1 ${2:struct} {
        $3
      }
    """

  'Method':
    prefix: 'funcm'
    body: """
      // $5 ..
      func ($1 ${2:*$3}) $5(${6:${7:arg} ${8:argType}})$9 {
        $10
      }
    """

'.source.python':
  'Print':
    prefix: 'log'
    body: 'print(${1:"$2"})'


'.source.js, .source.tsx':
  'Import':
    prefix: 'im'
    body: "import ${1:\\{ $2 \\}} from '$3';"

'.source.ts, .source.tsx':
  'Interface':
    prefix: 'interface'
    body: """
      interface I$1 ${2:extends ${3:React.Props<$4>}} {
        $5
      }
    """