atom-text-editor {
  // Makes the cursor pulse instead of blink
  .cursor {
    transition: opacity .5s;
  }

  // Highlights trailing whitespace except on the cursor line
  div.line:not(.cursor-line) {
    .syntax--source:not(.syntax--go) {
      .trailing-whitespace {
        background-color: @background-color-error;
        color: contrast(@background-color-error);
      }
    }
  }

  &.editor {
    // HTML-specific
    .syntax--html {
      .syntax--doctype {
        color: #75715e;
      }
    }
  }

  .indent-guide {
    color: rgba(255, 255, 255, .07);
  }

  .gutter {
    // Make the gutter slightly darker
    background-color: darken(#282c34, 0.7%);

    .line-number.uncovered {
      color: #e06c75 !important;
      background-color: inherit;
    }
  }

  .jumpy-label {
    // Regular labels
    background-color: rgba(51, 196, 113, 1);
    // color: white|;
    // padding: 3px;
  }
}

status-bar .file-info {
  display: none;
}

.platform-darwin atom-text-editor {
  -webkit-font-smoothing: antialiased;
}
